/* Navigation Styles in Blog Page */
nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 15px;
  padding: 5px;
}

nav li a{
  text-decoration: none;
  color: black;
}

nav li:hover{
  background-color: rgba(128, 128, 128, 0.5);
}

/* Nested Menu Styles */

nav li .dropdown{
  display: none;
  position: absolute;
  background-color: rgb(85, 243, 195);
  padding-left: 10px;
}

nav li:hover > .dropdown{
  display: block;
}

/* Footer Designs */
footer {
  margin-top: 30px;
  text-align: center;
}


/* Table Styles in Table Page */
td, th{
  border: 1px solid black;
  padding: 5px 10px;
}
table{
  border-collapse: collapse;
}