/* Navigation Styles in Blog Page */
nav > ul > li {
  display: inline;
  margin-right: 15px;
}

nav li > a {
  text-decoration: none;
}

footer {
  margin-top: 30px;
  text-align: center;
}


/* Table Styles in Table Page */
td, th{
  border: 1px solid black;
  padding: 5px 10px;
}
table{
  border-collapse: collapse;
}